<html>
	<head>
		<title><%=title%></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />	
	</head>
	<body>
		<h1><%=title%></h1>
		<form action='/add' method='post'>
		<div class="fieldset">
			<p>Details added successfully</p>
		</div>
		</form>
	</body>
</html>